body {
  margin: 0 0 0 8px;
}
div#container {
  position: relative;
  width: 100%;
  height: 90%;
}
div.pico {
  position: absolute;
  width: auto;
  height: 100px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  z-index: 1000;
}
div.pico:hover {
  cursor: pointer;
}
div.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  z-index: 1001;
  cursor: nwse-resize;
}
div.pico-edit {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-right: 50px;
  z-index: 1002;
  overflow: hidden;
}
div.pico-edit ul.horiz-menu {
  margin: 0px;
  padding: 0px;
  font-size: 70%;
  list-style-type: none;
  width: auto;
}
div.pico-edit ul.horiz-menu li {
  display: inline-block;
  width: 10em;
  text-align: center;
}
div.pico-edit ul.horiz-menu li:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
div.pico-edit ul.horiz-menu li.active {
  background-color: white;
  color: black;
  border-radius: 6px 6px 0 0;
}
div.pico-edit button.x {
  float: right;
}
div.pico-section {
  height: 90%;
  background-color: white;
  color: black;
  padding: 20px;
  overflow: auto;
  border-radius: 0 0 15px 15px;
}
svg {
  width: 100%;
  height: 100%;
  display: block;
}
svg line {
  stroke: #000;
  stroke-width: 5px;
}
div p.description {
  display: inline-block;
  position: absolute;
  width: 250px;
  font-size: 120%;
  padding-left: 20px;
}
h1.title {
  display: inline-block;
  font-family: Arial, sans-serif;
  margin: 0 0 0 120px;
  padding-top: 18px;
}
a.logo img {
  vertical-align: top;
}
a.logo {
  cursor: pointer;
}
#ruleset-list ul {
  display: none;
}
#ruleset-list li input[type="checkbox"]:checked ~ ul {
  display: block;
}
.sky-cloud {
  margin: 0;
}
.sky-cloud button {
  border: none;
  padding: 0;
  background: none;
  text-decoration: underline;
  color: #0000EE;
  cursor: pointer;
  margin-bottom: 1em;
}
table.channel-table {
  text-align: left;
}
table.channel-table th {
  padding: 4px;
}
table.channel-table td {
  padding: 4px;
}
#switch input[type="radio"] {
  display: none;
}
#switch input[type="radio"] + label {
  color: silver;
}
#switch input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}
#switch {
  margin-left: 10px;
  border: solid black 1px;
  border-radius: 5px;
}
#logging-list {
  display: none;
}
#logging-list li {
  font-family: monospace;
}
.logging-detail {
  margin-left: 18px;
  display: none;
}
#logging-list checkbox {
  margin: 3px;
}
#logging-list label {
  cursor: pointer;
}
#logging-list li input[type="checkbox"]:checked ~ .logging-detail {
  display: block;
}
#logging-list ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: auto;
}
.testing-rids {
  list-style: none;
  padding-left: 0px;
}
.testing-rids li ul {
  display: none;
}
.testing-rids li.legend ul {
  display: block;
}
.testing-rids li input[type="checkbox"]:checked ~ ul {
  display: block;
}
.testing-queries {
  list-style-type: circle;
}
.testing-queries li {
  border: 1px solid black;
  padding: 5px 0 0 5px;
  margin: 2px 5px;
}
.testing-events {
  list-style-type: disc;
}
.testing-events li {
  border: 1px solid black;
  padding: 5px 0 0 5px;
  margin: 2px 5px;
}
.testing-events li button {
  cursor: pointer;
}
.legend button {
  cursor: default;
  margin-bottom: 0.5em;
}
li.legend {
  padding: 5px 0 0 5px;
}
#test-results pre {
  border-left: 1px dashed silver;
  padding-left: 4px;
}
div.oplog {
  display: none;
}
svg line.subscription {
  stroke-dasharray: 2;
  stroke: magenta;
}
.subscriptions-list pre {
  padding-left: 30px;
  display: none;
}
.subscriptions-list input[type="checkbox"]:checked ~ pre {
  display: block;
}
#user-logout {
  float: right;
}
#user-logout a {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: black;
  border: 1px solid silver;
  border-radius: 4px;
}

#login-display-switch {
  margin-top: 20px;
}
.form-login {
  margin-top: 5px;
}
#login-display-switch fieldset {
  display: inline-block;
}
.no-red:active {
  color: rgb(85,26,139);
}
#connection-list label {
  cursor: pointer;
}
#connection-list button {
  cursor: pointer;
}
#connection-list input[type="checkbox"]:checked ~ .connection-detail {
  display: block;
}
#connection-list ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: auto;
}
.connection-detail {
  max-width: 40%;
  width: fit-content;
  margin-left: 20px;
  display: none;
}
.connection-detail h4 {
  margin: 0;
}
img.icon {
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 1em;
}
.connection-detail p {
  margin: 1px;
  padding: 0.6em;
  border-radius: 6px;
  width: fit-content;
  background: #F5F5F5;
}
.connection-detail p span:before {
  content: '\A';
  white-space: pre;
}
.connection-detail p span {
  font-size: 0.7em;
  font-style: italic;
}
.connection-detail p.incoming {
  margin-right: 3em;
}
.connection-detail p.outgoing {
  float: right;
  text-align: right;
  margin-left: 3em;
}
.connection-detail hr {
  clear: both;
  height: 1px;
  visibility: hidden;
  margin: -1px 0;
}
.agent-basic-messages {
  border: 1px solid silver;
  padding: 2px 4px;
  margin: 1px 3px 5px 3px;
  border-radius: 6px;
}
