// any bootstrap customizations goes here

@import "~bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.text-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

.btn-light {
  background: #fff;
  border-color: #c1c2c3;
}
.btn-light:hover {
  background: #eee;
}

#picos-page {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  overflow: auto;
  min-width: 100%;
  min-height: 100%;

  user-select: none;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.pico {
  position: absolute;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
  cursor: move;
  user-select: none;
  border: 1px solid black;

  .pico-name-open-btn {
    color: black;
    display: block;
  }

  .pico-resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    cursor: nwse-resize;
  }

  right: 10px; // for when it's open css transition will work
  bottom: 10px;
  width: auto; // use max-width instead of width for css transition to work
  height: auto;

  &.pico-not-moving-or-resizing {
    // we don't want to show slow transitions when dragging or resizing
    transition: all 0.5s ease;
  }

  &.open {
    cursor: default;
    position: fixed;
    top: 10px !important;
    left: 10px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    z-index: 10000;

    .card-body {
      user-select: text;
    }
  }

  .pico-logging-tab {
    pre {
      margin-bottom: 0;
    }
  }
}

svg#picos-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  line {
    stroke: #AAAAAA;
    stroke-width: 3px;
  }
}

svg#subs-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  line {
    stroke: #6633FF;
    stroke-width: 5px;
  }
}

.card-header-pico-name {
  font-size: 20px;
  margin-top: -5px;
  margin-bottom: 5px;
}
